/* General body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

/* Navigation styles */
nav {
    background-color: #00457c;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    text-decoration: underline;
}

/* Main content area */
div {
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Burger menu styles */
.burger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Responsive design adjustments */
@media only screen and (max-width: 768px) {
    .burger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .nav-links.active {
        display: flex;
        background-color: #005f87; /* Slightly darker to differentiate the menu */
    }

    nav {
        flex-direction: column;
    }

    nav a {
        display: block;
        text-align: center;
        width: 100%;
        padding: 10px;
    }

    /* Adjusting content spacing */
    .content {
        padding: 20px;
        text-align: center;
    }
}
