body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #ffffff;
    color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures footer stays at the bottom */
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    flex: 1;
}
.content {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 100px 20px 70px; /* Adjusted padding top and bottom */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 150px; /* Add padding to the bottom */
}
.section {
    margin-bottom: 20px; 
}
h1, h2 {
    color: #990000;
}
a {
    color: #990000;
    text-decoration: none;
}
.footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Pushes the footer to the bottom */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    padding-top: 1800px;
    padding-bottom: 100px;
}